[submodule "fixmystreetfork"]
	path = fixmystreet
	url = https://github.com/jkinlan/fixmystreet.git

## Update to latest changes in FixMyStreet fork.
# 'git pull origin master'
[submodule "pytition"]
	path = pytition
	url = https://github.com/jkinlan/Pytition.git
